name: Github Pages Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          cache: true

      - name: Install dependencies
        run: pnpm install

      - run: pnpm run build

      - id: outputResult
        run: echo "BuildResult=${{ job.status }}" >> $GITHUB_ENV

      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3 # or specific "vX.X.X" version tag for this action
        with:
          path: build/

  # Deploy job
  deploy:
    # Add a dependency to the build job
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  sendSuccessNotification:
    runs-on: ubuntu-latest
    needs:
      - build
    if: ${{ success() && github.event_name != 'pull_request' }}
    steps:
      - uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          content: "Build Success"
          embed-title: "Website update now live!"
          embed-description: "Check it out at https://al.alchemix.dev"
          embed-color: 1546855

  sendFailureNotification:
    runs-on: ubuntu-latest
    needs:
      - build
    if: ${{ failure() && github.event_name != 'pull_request' }}
    steps:
      - uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          content: "Build Failure"
          embed-title: "New Development Build Failed!"
          embed-description: "[You can find the results here](https://github.com/Greenfoot5/AL-Wiki/actions/runs/${{ github.run_id }})\n${{ env.BuildResult }}"
          embed-color: 10949957
